/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    color: #ffffff;
    line-height: 1.6;

}

a {
    color: #ff4757; /* Rojo cyberpunk para enlaces */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff; /* Blanco al hacer hover */

    
}

/* Estilos del header */
header {
    background-color: #212121;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido del header */
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
    color: #ff4757; /* Rojo cyberpunk */
    margin-bottom: 1.5%; /* Espacio entre el nombre y el menú */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar el menú */
    margin: 0;
}

nav ul li {
    margin: 0 15px; /* Espacio entre elementos del menú */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #212121; /* Rojo cyberpunk */
}
/* Estilos de las secciones */
section {
    padding: 100px 0;
    background: linear-gradient(145deg, #212121, #141414);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff4757; /* Rojo cyberpunk */
    text-shadow: 2px 2px 5px rgba(255, 71, 87, 0.3);
    text-align: center; /* Centrar el título */
}

section p {
    color: #e0e0e0; /* Gris claro para mejor contraste */
    font-size: 1.1em;
    line-height: 1.8;
    margin: 20px 0; /* Márgenes en los párrafos */
    margin-left: 5%;
    margin-right: 5%;
}

/* Estilos del portafolio */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 0px;

}

.portfolio-item {
    background-color: #212121;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 18, 37, 0.3);
    border-radius: 10px;

}

.portfolio-grid:hover > :not(:hover){
    opacity: 0.3;
}

.video-container {
    position: relative;
    width: 100%;
    height: 200px; /* Altura fija para el contenedor */
    overflow: hidden;
    border-radius: 10px;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen para que se vea completa */
    transition: opacity 0.1s ease;
    border-radius: 20px;

}

.portfolio-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.portfolio-item:hover .portfolio-image {
    opacity: 0;

}

.portfolio-item:hover .portfolio-video {
    opacity: 1;
}

.portfolio-item h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #ff4757; /* Rojo cyberpunk */
}

.portfolio-item p {
    color: #e0e0e0; /* Gris claro para mejor contraste */
    font-size: 1em;
    margin-top: 10px;
}

/* Estilos del footer */
footer {
    background-color: #2d2d44;
    padding: 40px 0; /* Más espacio en el footer */
    text-align: center;
    margin-top: 60px; /* Más espacio arriba del footer */
}

footer p {
    margin: 0;
    color: #ff4757; /* Rojo cyberpunk */
}

/* Fondo con overlay oscuro */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.8); /* Overlay oscuro */
    z-index: -1;
}

body {
    background: url('assets/images/bg_web.webp') no-repeat center center fixed;
    background-size:cover;
    position: relative;
    z-index: 1;
}

html, body {
    height: 0%;
    margin: 0;
  }
  svg {
    display:relative;
  }

  /*abajo va lo de iconos de contactos*/

  /* From Uiverse.io by vikas7754 */ 
.tooltip-container {
    position:absolute;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
    margin-left: 33.3%;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(11, 63, 95, 1);
  }
  /*este es para mover el cuadro emergente*/
  .tooltip-container:hover .tooltip {
    top: -200px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position:relative;
  }
  .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .layer span,
  .text {
    color: #1da1f2;
    border-color: #1da1f2;
  }
  
  .icon:hover.layer span {
    box-shadow: -1px 50px 3px #1da1f2;
  }
  .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon:hover .text {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
  }
  .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .layer span.fab {
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    fill: #1da1f2;
    background: #000;
  }
  .user {
    display: flex;
    gap: 100px;

   
  }
  .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 800;
    border: 1px solid #1da1f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .username{
    margin-top: 10px;
    margin-left: -250%;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
  }
  .name {
    margin-left: -150%;
    font-size: 16px;
    font-weight: 700;
    color: #1da1f2;
    text-align: left;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
  }
  .about {
    color: #ccc;
    padding-top: 5px;
    text-align: center;

  }


  /* LO DE ABAJO ES DE INSTAGRAM*/
  

  /* From Uiverse.io by vinodjangid07 */ 

  .tooltip-container {
    position:absolute;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
    margin-left: 15%;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(11, 63, 95, 1);
  }
  /*este es para mover el cuadro emergente*/
  .tooltip-container:hover .tooltip {
    top: -200px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position:relative;
  }
  .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .layer span,
  .text {
    color: #1da1f2;
    border-color: #1da1f2;
  }
  
  .icon:hover.layer span {
    box-shadow: -1px 50px 3px #1da1f2;
  }
  .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon:hover .text {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
  }
  .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .layer span.fab {
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    fill: #1da1f2;
    background: #000;
  }
  .user {
    display: flex;
    gap: 100px;

   
  }
  .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 800;
    border: 1px solid #1da1f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .username{
    margin-top: 10px;
    margin-left: -250%;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
  }
  .name {
    margin-left: -150%;
    font-size: 16px;
    font-weight: 700;
    color: #1da1f2;
    text-align: left;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
  }
  .about {
    color: #ccc;
    padding-top: 5px;
    text-align: center;

  }

  /* para instagram*/

  /* From Uiverse.io by vinodjangid07 */ 
.tooltip2-container2 {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
    margin-left: 50%;

  }
  
  .tooltip2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile2 {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid #52382f;
  }
  
  .tooltip2-container2:hover .tooltip2 {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .icon2 {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
  }
  .layer2 {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon2:hover .layer2 {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.3s;
  }
  
  .layer2 span,
  .text2 {
    color: #e6683c;
    border-color: #e6683c;
  }
  
  .icon2:hover.layer2 span {
    box-shadow: -1px 1px 3px #e6683c;
  }
  .icon2 .text2 {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon2:hover .text2 {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon2:hover .layer2 span:nth-child(1) {
    opacity: 0.2;
  }
  .icon2:hover .layer2 span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon2:hover .layer2 span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon2:hover .layer2 span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon2:hover .layer2 span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .instagramSVG2 {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .user2 {
    display: flex;
    gap: 10px;
  }
  .img2 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e6683c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .name2 {
    font-size: 17px;
    font-weight: 700;
    color: #e6683c;
  }
  .details2 {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
  }
  .about2 {
    color: #ccc;
    padding-top: 5px;
  }
  